{% extends 'emails/base_email.html' %}

{% block title %}Bienvenue sur MangAnimEDen !{% endblock %}

{% block content %}
<h2>Bienvenue dans l'Éden, <span class="highlight">{{ user.nickname|default:user.username }}</span> !</h2>

<p>Votre inscription est confirmée. Toute l'équipe de MangAnimEDen est ravie de vous compter parmi nos nouveaux membres.</p>

<p>Vous avez désormais accès à des milliers de chapitres en haute qualité, à notre forum de discussion, et à un espace communautaire unique pour partager votre passion des Mangas, Manhwas et Webtoons.</p>

<div style="text-align: center;">
    <a href="{{ site_domain }}/catalogue/" class="btn-primary">Découvrir le Catalogue</a>
</div>

<p style="margin-top: 30px;">Si vous avez des questions, n'hésitez pas à poser vos questions dans le groupe "Support" du forum. Bon voyage !</p>
{% endblock %}